body {
    background-color: #212121;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.clock {
    display: flex;
    gap: 10px;
    /* border: 1px solid red; */
    padding: 30px 60px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px white;
}

.time {
    font-size: 50px;
}

.timeformat {
    font-size: 20px;
}